/* Table Contents
1. (a) HTML root Properties 
1. (b) container 01
1. (c) container 02
2 (a). Circle Image
3 (a). Name 
4 (a). Phone Number 
5 (a). Email 
URGENT - no underline to link and editable image based on URL change 
 */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Courier New', Courier, monospace;
 }

 body {
     background-color: #c0BBB2;
 }

 /* 1. (b) container 01 */
 .container01 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 /* 1. (c) container 02 */
 .container02 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*2 (a). Circle Image
  */

.imgSize {
    width: 25vw;
    height: 40vh;
    border: solid black;  
    border-radius: 50%;
    margin: 40px;
}

/* 3 (a). Name  */
.nameStyling {
    margin-left: 50px;
}

/* 4 (a). Phone Number  */
.numberStyling{
    margin-left:100px;
}
/* 5 (a). Email  */
.emailStyling {
    margin-left: 50px;
}